<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1 th:inline="text" >[[${book.name}]],[[${book.author}]]</h1>
<h2 >Description</h2>
<p th:inline="text" >[[${book.description}]]</p>
<h2 >Category</h2>
<p th:inline="text" >[[${book.category}]]</p>
<p th:inline="text" ><a th:href="@{${book.link}}">[[${book.link}]]</a></p>
<h2 >Comments</h2>
<ul th:each="c: ${comments}">
    <li th:inline="text" >[[${c.userName}]]:[[${c.content}]] </li>
</ul>
<a th:if="${isAdmin}" th:href="@{'/deleteComments/'+${book.id}}" > delete comments</a>
<h3>Leave a comment</h3>
<form th:action="@{'/comment/'+${book.id}}" method="POST">
    <input type="text" name="content"/>
</form>
</body>
</html>