<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Books page serch</h1>
<a th:if="${isAdmin}" th:href="@{/books/add}">add book</a>
<a th:if="${isAdmin}" th:href="@{/books/update}">update book</a>
<form method="post" th:action="@{/search}">
<input type="text" name="search"/>
</form>
<ul th:each="b: ${books}">
    <li th:inline="text" ><a th:href="@{'/books/'+${b.id}}">[[${b.name}]]</a></li>
</ul>
</body>
</html>